<div class="container">
  <div class="mx-auto" style="width: 30rem">
    <div class="text-center mt-5">
      <h2>New club event</h2>
    </div>

      <%= simple_form_for([club, event], method: :post, url: events_path) do |f| %>
        <%= f.input :title,
                    label: false,
                    input_html: { placeholder: "Title", class: "border-dark my-4 bg-info"} %>
        <%= f.input :description,
                    label: false,
                    input_html: { placeholder: "Description", class: "border-dark my-4 bg-info"} %>
        <%= f.association :team,
                    prompt: "Pick a team",
                    label: false,
                    input_html: {class: "border-dark my-4 bg-info"},
                    collection: club.teams %>
        <%= f.input :address,
                    label: false,
                    input_html: { placeholder: "Address", class: "border-dark my-4 bg-info"} %>
        <%= f.input :start_time,
                    as: :string,
                    label: false,
                    input_html: { data: { controller: "datepicker" }, placeholder: "Date", class: "border-dark my-4 bg-info" } %>
        <%= f.input :duration,
                    prompt: "Set time",
                    label:false,
                    collection: ['0:15', '0:30', '0:45', '1:00', '1:15', '1:30', '1:45', '2:00', '2:15', '2:30', '2:45', '3:00', '3:15', '3:30', '3:45', '4:00'],
                    input_html: { class: "border-dark my-4 bg-info"}  %>
        <div class="my-3form-actions text-center rounded d-grid gap-2">
          <%= f.submit "Submit Event", class:"btn btn-secondary bg-dark"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
