<div class="container">
  <br>
  <div class="d-flex justify-content-center">
    <h3>
      <%= @monday.strftime("%D") %> - <%= @monday.next_day(6).strftime("%D") %>
    </h3>
  </div>
  <div class="cal">
    <div class="cal-item">
      <h4></h4>
    </div>
    <div class="cal-item">
      <h4>Monday</h4>
    </div>
    <div class="cal-item">
      <h4>Tuesday</h4>
    </div>
    <div class="cal-item">
      <h4>Wednesday</h4>
    </div>
    <div class="cal-item">
      <h4>Thursday</h4>
    </div>
    <div class="cal-item">
      <h4>Friday</h4>
    </div>
    <div class="cal-item">
      <h4>Saturday</h4>
    </div>
    <div class="cal-item">
      <h4>Sunday</h4>
    </div>
    <div class="cal-item">
      <h4>00:00 to 07:59</h4>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[0][0].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[1][0].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[2][0].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[3][0].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[4][0].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[5][0].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[6][0].count %></p>
    </div>
    <div class="cal-item">
      <h4>08:00 to 08:59</h4>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[0][1].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[1][1].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[2][1].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[3][1].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[4][1].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[5][1].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[6][1].count %></p>
    </div>
    <div class="cal-item">
      <h4>09:00 to 09:59</h4>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[0][2].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[1][2].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[2][2].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[3][2].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[4][2].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[5][2].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[6][2].count %></p>
    </div>
    <div class="cal-item">
      <h4>10:00 to 10:59</h4>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[0][3].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[1][3].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[2][3].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[3][3].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[4][3].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[5][3].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[6][3].count %></p>
    </div>

    <div class="cal-item">
      <h4>11:00 to 11:59</h4>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[0][4].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[1][4].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[2][4].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[3][4].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[4][4].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[5][4].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[6][4].count %></p>
    </div>

    <div class="cal-item">
      <h4>12:00 to 12:59</h4>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[0][5].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[1][5].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[2][5].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[3][5].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[4][5].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[5][5].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[6][5].count %></p>
    </div>

    <div class="cal-item">
      <h4>13:00 to 13:59</h4>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[0][6].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[1][6].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[2][6].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[3][6].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[4][6].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[5][6].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[6][6].count %></p>
    </div>

    <div class="cal-item">
      <h4>14:00 to 14:59</h4>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[0][7].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[1][7].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[2][7].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[3][7].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[4][7].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[5][7].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[6][7].count %></p>
    </div>

    <div class="cal-item">
      <h4>15:00 to 15:59</h4>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[0][8].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[1][8].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[2][8].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[3][8].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[4][8].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[5][8].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[6][8].count %></p>
    </div>

    <div class="cal-item">
      <h4>16:00 to 16:59</h4>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[0][9].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[1][9].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[2][9].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[3][9].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[4][9].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[5][9].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[6][9].count %></p>
    </div>

    <div class="cal-item">
      <h4>17:00 to 17:59</h4>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[0][10].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[1][10].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[2][10].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[3][10].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[4][10].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[5][10].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[6][10].count %></p>
    </div>

    <div class="cal-item">
      <h4>18:00 to 18:59</h4>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[0][11].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[1][11].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[2][11].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[3][11].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[4][11].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[5][11].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[6][11].count %></p>
    </div>

    <div class="cal-item">
      <h4>19:00 to 19:59</h4>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[0][12].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[1][12].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[2][12].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[3][12].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[4][12].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[5][12].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[6][12].count %></p>
    </div>

    <div class="cal-item">
      <h4>20:00 to 20:59</h4>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[0][13].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[1][13].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[2][13].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[3][13].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[4][13].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[5][13].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[6][13].count %></p>
    </div>

    <div class="cal-item">
      <h4>21:00 to 21:59</h4>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[0][14].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[1][14].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[2][14].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[3][14].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[4][14].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[5][14].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[6][14].count %></p>
    </div>

    <div class="cal-item">
      <h4>22:00 to 23:59</h4>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[0][15].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[1][15].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[2][15].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[3][15].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[4][15].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[5][15].count %></p>
    </div>
    <div class="cal-item">
      <p class="event-cell">Events <%= @cal[6][15].count %></p>
    </div>
  </div>
</div>
