<div class="container">
  <div class="row">
    <div class="col-4">
      <div>
        <h2 class='mt-2'>Club Page</h2>
        <%= render 'shared/club_card', club: @club %>
        <%= render 'shared/invite_link', club: @club %>
      </div>
      <div class="d-flex justify-content-between align-items-center">
      <h2>Teams</h2>
      <%= link_to 'Create team', new_club_team_path(@club), class:'btn btn-primary br' %>
      </div>
        <% @club.teams.each do |team| %>
          <%= render 'shared/team_card', team: team %>
        <% end %>
    </div>



    <div class="col-8">
      <div>
        <h2 class='mt-2'>Upcoming events</h2>
        <% @club.teams.map { |team| team.events }.flatten.each do |event| %>
          <%= render 'shared/event_card', event: event %>
        <% end %>
      </div>
    </div>
  </div>
</div>
