<%= render "shared/back" %>
<h1>My teams</h1>

<% @teams.each do | team | %>
  <%= link_to team_path(team) do %>
    <h3><%= team.name %></h3>
    <h6><%= team.sport %></h6>
    <p><%= team.description %></p>
  <% end %>
<% end %>

<%= link_to 'Create Team', new_club_team_path %>
