<div class="container">
  <div class="row mt-3">
    <div class="col-4">
      <div>
        <h2 class='mt-2'>Team's page</h2>
        <%= render 'shared/team_card', team: @team %>
      </div>
      <div>
        <% if current_user.coach_or_manager?(@team) %>
          <%= simple_form_for [@team, @team_member]  do |f| %>
            <div class="input-group">
              <%= f.association :user, label: false, prompt: "Add team member", collection: User.where.not(id: @team.team_members.map{|tm| tm.user_id}), label_method: :fullname, value_method: :id, input_html: {class: "bg-info"} %>
              <div>
                <%= f.submit "Add", class: "btn btn-dark"%>
              </div>
            </div>
          <% end %>
          <%= simple_form_for(@team, method: :post, url: team_coach_path(@team))  do |f| %>
            <div class="input-group">
              <%= f.input :team_members, label: false, prompt: 'Make team member coach', collection: @team.team_members.where(is_coach: false), label_method: :member_name, value_method: :id, input_html: {class: "bg-info"} %>
              <div>
                <%= f.submit "Submit", class: "btn btn-dark"%>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
        <h2 class='my-3'>Members</h2>
      <div class ='p-2 br box-shadow bg-white mb-5'>
        <div class='players-list-card br list-group'>
          <% @team.team_members.each do |team_member| %>
            <%= render 'shared/players_list_team', team_member: team_member, team: @team %>
          <% end %>
        </div>
      </div>
    </div>



    <div class="col-8">
      <div>
        <div class='d-flex justify-content-between align-items-center'>
          <h2 class='mt-2'>Upcoming events</h2>
          <% if current_user.coach_or_manager?(@team) %>
            <%= link_to 'New event', new_team_event_path(@team), class: 'btn btn-primary br' %>
          <% end %>
        </div>
        <% @team.events.where("end_time > ?", Time.now).each do |event| %>
          <%= render 'shared/event_card', event: event %>
        <% end %>
      </div>
    </div>
  </div>
</div>
