<%= render "shared/back" %>
<div class="container">
  <div class="row">
    <div class="col-4">
      <div>
        <h2 class='mt-2'>Team's page</h2>
        <%= render 'shared/team_card', team: @team %>
      </div>
      <div>
        <% if current_user.coach_or_manager?(@team) %>
          <%= simple_form_for [@team, @team_member]  do |f| %>
            <%= f.association :user, collection: User.where.not(id: @team.team_members.map{|tm| tm.user_id}), label_method: :fullname, value_method: :id %>
            <%= f.submit %>
          <% end %>
        <% end %>
      </div>
      <h2 class='my-3'>Members</h2>
      <div class='players-list-card br box-shadow list-group'>
        <% @team.team_members.each do |team_member| %>
          <%= render 'shared/players_list', team_member: team_member, team: @team %>
        <% end %>
      </div>
    </div>



    <div class="col-8">
      <div>
        <div class='d-flex justify-content-between align-items-center'>
          <h2 class='mt-2'>Upcoming events</h2>
          <% if current_user.coach_or_manager?(@team) %>
            <%= link_to 'New event', new_team_event_path(@team), class: 'btn btn-primary br' %>
          <% end %>
        </div>
        <% @team.events.each do |event| %>
          <%= render 'shared/event_card', event: event %>
        <% end %>
      </div>
    </div>
  </div>
</div>
