<div class="container">
  <div class="event-card">
    <div class="d-flex justify-content-between w-auto">
      <div class="event-time">
        <%= event.start_time %>
        <%= event.end_time %>
      </div>
      <div class="event-title">
        <%= event.title %>
        <%= event.description %>
        <%= event.address %>
      </div>
      <%# <div class="event-location">
        <%= event.location %>
      <%# </div> %>
    </div>
  </div>
</div>
