<div class="container">
  <div class="row">
    <div class="col-7">
      <div class="event-card box-shadow br p-3">
        <h2><%= @event.title %></h2>
        <p><%= @event.description %></p>
        <p><%= @event.start_time.strftime('%H:%M') %> - <%= @event.end_time.strftime('%H:%M') %></p>
        <%# Right now only gets one coach, what should we do with multiple coaches %>
        <p><strong>Coach: </strong><%= @event.team.team_members.find_by(is_coach: true).user.fullname%></p>
      </div>
      <div class="event-card br box-shadow p-3">
        <h1>Map box</h1>
      </div>
    </div>


    <div class="col-5">
      <div class="my-20">
        <%= link_to "Chat", event_chat_path(@event), class: "btn btn-dark w-100" %>
      </div>
      <div class="event-card box-shadow br p-3">
        <h1>Attendance form</h1>
      </div>
      <h2>Members</h2>
      <div class='players-list-card br box-shadow list-group'>
        <% @event.team.team_members.each do |team_member| %>
          <%= render 'shared/players_list', team_member: team_member, team: @event.team %>
        <% end %>
      </div>
    </div>

    </div>
  </div>
</div>
