<div class="container">
  <div class="mx-auto" style="width: 30rem">
    <div class="text-center mt-5">
      <h2>Log In</h2>
    </div>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.hidden_field :invite_token, value: @club.invite_token if @club %>
          <%= f.hidden_field :club_id, value: @club.id if @club %>
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      label: false,
                      input_html: { placeholder: "Email", class: "pl-5 border-dark my-4 bg-info" } %>
          <%= f.input :password,
                      required: false,
                      label: false,
                      input_html: { placeholder: "Current password", class: "border-dark my-4 bg-info" } %>
          <%= f.input :remember_me, input_html: { class: "border-dark " },as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="my-4 form-actions text-center rounded d-grid gap-2">
        <%= f.button :submit, "Log in", class: "btn btn-dark" %>
      </div>
      <% end %>

      <div class="text-center py-3">
        <p>Already have an account?<%= render "devise/shared/links"%></p>
      </div>


  </div>
</div>
